@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #837e7e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5e7e7;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 768px) {
  .mantine-Table {
    font-size: 14px;
  }

  .mantine-ActionIcon {
    margin-left: 0; /* Remove extra margin on small screens */
  }

  th, td {
    padding: 10px;
  }

  .mantine-Badge {
    font-size: 12px;
  }
}

